#btn-group-container{
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

#students-accordion-container{
	margin-top: 40px;
}

#teacher-accordion-container{
	margin-top: 40px;
}

#employee-accordion-container{
	margin-top: 40px;
}